<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hi there!</p>
<form method="GET" action="/">
    <input name="m">
    <button type="submit">Submit</button>
</form>
    <p>It works!</p>
{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}


    <article>
        <p>{{ new }}</p>
    </article>
</body>
</html>